html {
	height: 100%;
}
body {
	background: url(../images/ihn_bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 85%;
	font-size: 1.0em;
	background-color: #101C1C;
	color: #8C5416;
	font: normal 100% Arial, Calibri, sans-serif;
}

h1 {
	font-size: 2.75em; /* 44/16 */
	font-family:Arial Narrow;
	text-transform: uppercase;
}

h1 a {
	text-decoration: none;
	font-size: 1.27272727em; /* 56/44 */
	color: #27BCB1;
	font-weight: bold;
}

#page {
	margin: auto;
	width: 100%;
	height: 100%;
}

.title {
	padding-top:5%;
	padding-bottom:2%;
	padding-right:25%;
	padding-left:10%;
}

.login {
	margin: auto;
	width: 90%; /* 900/1000 */
	height: 55%;
}
.ihn-login-arrow{
	position: relative; 
	z-index: 1; 
	height: 100%; 
	float: left; 
	width: 9.4%; 
	background: #d9d9d9;
}
.login .credential {
	background-color: #138E85;
	float: left;
	min-height: 100%;
	height:100%;
	width: 44.44444%; /* 400/900 */
	overflow: hidden;
}
form {
	display:table;
	float:left;
	height:100%;
	width: 100%;
}
.ihn-valign-middle{
	display:table-cell;
	vertical-align:middle;
}	
.ihn-form-arrow{
	float:left;
	height:100%;
	width:4.4%;
	background:#fff
}
span {
	display: block;
	float:left;
	width: 100%;
	/*margin: 0.8% 3% 0.8% 3%;  10/400, 12/400 */
}
label {
	font: normal 1.125em Arial, Calibri, sans-serif; /* 18/16 */
	letter-spacing:0.1666667em; /* 3/18 */
	text-decoration: none;
	background-color: #D9D9D9;
	color: #000000;
	display: inline-block;
	float:left;
	width: 25%; /* 100/400 */
	padding: 0.333333em 3.111111em 0.333333em 0.333333em; /* 6/18, 56/18, 8/18, 8/18 */
}
input, select {
	font: normal 1.125em Arial, Calibri, sans-serif; /* 18/16 */
	text-decoration: none;
	background-color: #FFFFFF;
	color: #000000;
	width: 57%; /* 240/400 */
	padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 6/18, 56/18, 8/18, 8/18 */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float:left;
	border: none;
}
.ihn-select-box{
	padding:0.28em;
}
.login .action {
	background-color: #138E85;
	float: left;
	width: 18.444444%; /* 166/900 */
	min-height: 100%;
	height:100%;
	display:table;
	overflow: hidden;
}		
/*.action_buttons {
	margin-top: 35%;
}*/
button {
	font-size: 1.25em; /* 20/16 */
	background: #EFC699;
	padding: 0.3em 1.6em 0.3em 1.6em;
	font-weight: bold;
	color: #000000;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius:0.5em;
	cursor: pointer;
	margin-bottom: 10.84337%;
	margin-top: 10.84337%;
}
button:hover {
opacity:0.85;
}
.link_button a:link, .link_button a:visited {
	font-size: 1.0em;
	color: #FFFFFF;
	float:left;
	text-decoration: none;
}

.login .logo {
	background-color: #D9D9D9;
	float: left;
	width: 27%; /* 331/900 */		
	min-height: 100%;
	overflow: hidden;
}
.image{
	width: 75%;
	float: right;
}
img {
	float: right;
	max-width: 100%;
	margin-bottom: 2.2507%;
	height:100%;
}

/*-------------Media Queries-----------------*/
/*Widescreen laptop, desktop, TV*/
@media screen and (min-width: 999px) {


}
@media screen and (max-width: 1024px) {
	
	
}



/*Laptop, desktop*/
@media screen and (max-width: 999px) {
	label {
		font: normal 1.0em Arial, Calibri, sans-serif; /* 16/16 */
		letter-spacing:0.055555em; /* 1/18 */
		width: 15%; 
	}
	input, select {
		font: normal 1.0em Arial, Calibri, sans-serif; /* 16/16 */
	}
	
}
/*Tested on 900x1920 */
@media screen and (max-width: 900px) {

}


/*Tested on 800x1024 Galaxy Tab 10.1 Emulator*/
@media screen and (max-width: 800px) {
	.login .credential, .login .action, .login .logo {
		width: 100%;
		min-height: auto;
	}
	.title {
		padding: 0%;
	}
	h1 {
		font-size: 2em; /* 32/16 */
	}
	h1 a {
		font-size: 1.3125em; /* 42/32 */
	}
	
	label {
		font: normal 1.125em Arial, Calibri, sans-serif; /* 18/16 */
		letter-spacing:0.1666667em; /* 3/18 */
		width: 24%;
	}
	input, select {
		font: normal 1.125em Arial, Calibri, sans-serif; /* 18/16 */
		width: 58%;
	}
	.action_buttons {
		margin-top: 0%;
	}
	.ihn-form-arrow{
		width:4.7%;
	}
	button {
		margin: 0%;
		margin-bottom: 2%;
		font-size: 1em;
		padding: 0.3em 1em 0.3em 1em;
		-moz-border-radius: 0.8em;
		-webkit-border-radius: 0.8em;
		cursor: pointer;
	}
	span {
		display: inline;
	}
	.image{
		width: 100%;
	}
	img.icth {
		float: right;
		height: 35%;
	}		
	img.client {
		float: left;
		height: 25%;
	}	
	
}
/*Tested on 480x800 Galaxy S Emulator*/
@media screen and (max-width: 480px) {
	body{
		margin:0;
	}
	.login{
		width:100%;
	}
	.login .credential{
		height: 100%;
		width:50%;
	}
	.login .logo {
		width:21%;
		height:100%;
	}
	.login .action{
		height: 100%;
		width:19%;
	}
	.ihn-login-arrow {
	/*	background: none repeat scroll 0 0 #D9D9D9;		*/
		height: 100%;		
		width: 9.4%;		
	}
	.title {
		padding: 0%;
	}
	h1 {
		font-size: 2em; /* 32/16 */
	}
	h1 a {
		font-size: 1.3125em; /* 42/32 */
	}
	
	label {
		font: normal 0.8em Arial, Calibri, sans-serif; /* 18/16 */
		letter-spacing:0.1666667em; /* 3/18 */
		width: 24%;
	}
	input, select {
		font: normal 0.8em Arial, Calibri, sans-serif; /* 18/16 */
		padding:0.32em;
		width: 47%;
	}
	.action_buttons {
		margin-top: 0%;
	}
	.ihn-form-arrow{
		width:7%;
	}	
	.ihn-select-box {
		padding: 0.24em;s
	}
	button {
		margin: 0%;
		margin-bottom: 2%;
		font-size: 1em;
		padding: 0.3em 1em 0.3em 1em;
		-moz-border-radius: 0.8em;
		-webkit-border-radius: 0.8em;
		cursor: pointer;
	}
	span {
		display: inline;
	}
	.image{
		width: 100%;
	}
	img.icth {
		float: right;
		height: 35%;
	}		
	img.client {
		float: left;
		height: 25%;
	}			
}

/*Narro screen smartphones*/
@media screen and (min-width: 320px) and (max-width: 360px) {
	body{
		margin:0;
	}
	.login{
		width:100%;
	}
	.login .credential{
		height: 77%;
		width:59%;
	}
	.login .logo {
		width:100%;
		bottom:0;
		position:absolute;
		height:30%;
	}
	.login .action{
		height: 77%;
		width:19%;
	}
	.title {
		padding: 0%;
		margin-bottom:2em;
	}
	h1 {
		font-size: 1.375em; /* 22/16 */
		text-align: center;
	}
	h1 a {
		font-size: 1.272727em; /* 28/22 */
	}
	span {
		display: inline;
		width: 100%;
		margin: 0%;
	}
	.ihn-form-arrow{
		width:7.56%;
	}
	label {
	 	font: normal 0.75em Arial, Calibri, sans-serif;
		letter-spacing:0em;
		width: 17%;
		text-align: center;
	}
	input, select {
		font: normal 0.75em Arial, Calibri, sans-serif;
		width: 49%;
		text-align: center;
	}
	.ihn-select-box{
		padding:0.25em;
	}
	.action_buttons {
		margin-top: 0%;
		width: 100%;
	}
	button {
		float: right;
		margin-top: 0%;
		margin-left: 4%;
		margin-right: 1%;
		margin-bottom: 2%;
		font-size: 1em;
		padding: 0.1em 0.5em 0.1em 0.5em;
		-moz-border-radius: 0.8em;
		-webkit-border-radius: 0.8em;
		cursor: pointer;
	}
	.link_button  {
		font-size: 0.8em;
		margin-right: 2%;
		margin-left: 2%;
	}
	.ihn-login-arrow {
		background: none repeat scroll 0 0 transparent;
		float: left;
		height: 77%;
		position: relative;
		width: 21.4%;
		z-index: 1;
	}
	.image{
		width: 100%;
	}
	img.icth {
		float: right;
		height: 25%;
		width: 40%;
	}		
	img.client {
		float: left;
		height: 25%;
		width: 50%;
	}	
}